
@{
    ViewBag.Title = "GetData";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>GetData</h2>


<form method="get" >
    <input type="text" name="Id" />
    <input type="text" name="Name" />
    <input type="text" name="Address" />
    <input type="text" name="Age" />
    <input type="text" name="Salary" />
    <input type="Submit"/>


</form>
