
@{
    ViewBag.Title = "PostData";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>PostData</h2>
<form method="post" action="/Employee/Welcome">
    <input type="text" name="Id" />
    <input type="text" name="Name" />
    <input type="text" name="Address" />
    <input type="text" name="Age" />
    <input type="text" name="Salary" />
    <input type="Submit" />


</form>


