@model Employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h2> Name: @Model.Name</h2>
<h2>Age: @Model.Age Years Old</h2>
<h2> DeptID: @Model.DeptId</h2>
<a href="/" class="btn btn-primary">Back to Index</a>


